<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="lancer.mappers.c_alramMapper">

	<insert id="insertAlramF" parameterType="hashmap">
		INSERT INTO alram(alram_num, f_num, e_num, e_pr_num, p_content, alram_check) 
		VALUES(alram_seq.next, #{f_num}, 0, #{e_pr_num}, #{p_content}, '미확인')
	</insert>

	<insert id="insertAlramE" parameterType="hashmap">
		INSERT INTO alram(alram_num, f_num, e_num, e_pr_num, p_content, alram_check) 
		VALUES(alram_seq.next, 0, #{e_num}, #{e_pr_num}, #{p_content}, '미확인')
	</insert>

</mapper>















