<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="lancer.mappers.c_fileMapper">

	<insert id="insertFile" parameterType="hashmap">
	        INSERT INTO fileupload(
	        	file_num,
	            section,
	            common_num,
	            original_file_name,
	            stored_file_name,
	            file_size,
	            identy
	            )
	            VALUES(
	            file_seq.nextval,
	            #{section},
	            #{common_num},
	            #{original_file_name},
	            #{stored_file_name},
	            #{file_size},
	            #{identy}
	            )
	</insert>
	
	<delete id="deleteFile" parameterType="hashmap">
		DELETE FROM fileupload WHERE section = #{section} AND common_num = #{common_num} AND identy = #{identy}
	</delete>
	
	<select id="getIdenty" parameterType="hashmap" resultType="int">
		select nvl(max(identy), 0) from fileupload where section = #{section}
	            AND common_num = #{common_num}
	</select>
	
	<select id="selectFileNum" parameterType="hashmap" resultType="Integer">
	        SELECT
	            file_num
	        FROM
	            fileupload
	        WHERE
	            section = #{section}
	            AND common_num = #{common_num}
	            AND identy = #{identy}
	</select>
	
	<select id="selectFileName" parameterType="hashmap" resultType="String">
	        SELECT
	            original_file_name
	        FROM
	            fileupload
	        WHERE
	            section = #{section}
	            AND common_num = #{common_num}
	            AND identy = #{identy}
	</select>
	
	<select id="selectFileSize" parameterType="hashmap" resultType="Integer">
	        SELECT
	            ROUND(file_size/1024,1) AS file_size
	        FROM
	            fileupload
	        WHERE
	            section = #{section}
	            AND common_num = #{common_num}
	            AND identy = #{identy}
	</select>
	
	
	
		
	<select id="selectFileOriginalNameByInt" resultType="String">
	        SELECT
	            original_file_name
	        FROM
	            fileupload
	        WHERE
	            file_num = #{file_num}
	</select>
		
	<select id="selectFileStoredNameByInt" resultType="String">
	        SELECT
	            stored_file_name
	        FROM
	            fileupload
	        WHERE
	            file_num = #{file_num}
	</select>
	
</mapper>















