<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="lancer.mappers.c_freelancerlistMapper">
<cache />
	<select id = "c_freelancerlist_select_basic" resultType="c_freelancerlist_totalVO" parameterType="c_freelancerlist_SearchCriteria">
		select * from FREELANCER 
			<if test="jobs != null">
			<where>
				<!-- b_title LIKE %자바% OR b_writer LIKE %자바%-->
				<foreach collection="jobs" item="item" separator="AND" open="(" close=")">
					f_num in (select f_num from f_job where job_id = #{item})
				</foreach>
			</where>
		</if>
	</select>
<!--  	<select id="c_freelancer_list" resultType="String">
		select f_name from freelancer
	</select> -->
	
	<select id="selectFreelancer" resultType="c_freelancerlist_totalVO">
	select * from FREELANCER 
						where f_num = #{f_num}
	</select>
	
	<select id="selectF_job" resultType="Integer">
		SELECT job_id FROM f_job WHERE f_num = #{f_num}
	</select>
	
	<select id="showSchoolInfo" parameterType="int" resultType="School">
		select * from school where f_num = #{f_num}
	</select>
	
	<select id="showCareerInfo" parameterType="int" resultType="Career">
		select * from career where f_num = #{f_num}
	</select>
	
	<select id="showCertiInfo" parameterType="int" resultType="Certificate">
		select * from certificate where f_num = #{f_num}
	</select>
	
	<select id="getMyFinishProject" parameterType="int" resultType="lancer.e_mypage.domain.Project">
		select pro.p_name, pro.P_UPPERCOST, pro.P_STARTDATE, pro.P_ENDDATE, pro.e_pr_num from project pro, contract con
		where con.E_PR_NUM = pro.E_PR_NUM and con.f_num = #{f_num} and con.c_state=3
	</select>
	
	<select id="getProjectP_job" resultType="String">
		select job.JOB_NAME from project pro, p_job p_job, job job 
		where pro.E_PR_NUM = p_job.E_PR_NUM and p_job.JOB_ID = job.JOB_ID and pro.E_PR_NUM=#{e_pr_num}
	</select>
	
	<select id="c_freelancerlist_select_school" resultType="c_freelancerlist_schoolVO" parameterType="int">
		select * from school
						where f_num = #{f_num}
	</select>
	
	<select id="c_freelancerlist_select_career" resultType="c_freelancerlist_careerVO" parameterType="int">
		select * from career
						where f_num = #{f_num}
	</select>
	<select id="c_freelancerlist_select_portfolio" resultType="c_freelancerlist_portfolioVO" parameterType="int">
		select * from portfolio
						where f_num = #{f_num}
	</select>
	<select id="c_freelancerlist_select_job" resultType="String" parameterType="int">
		select j.job_name from f_job f, job j
							where f.job_id = j.job_id
								and f.f_num = #{f_num}	
	</select> 
	<select id="c_freelancerlist_totalCount" resultType="Integer" parameterType="c_freelancerlist_SearchCriteria">
		select count(*) from FREELANCER
			<if test="jobs != null">
			<where>
				<!-- b_title LIKE %자바% OR b_writer LIKE %자바%-->
				<foreach collection="jobs" item="item" separator="AND" open="(" close=")">
					f_num in (select f_num from f_job where job_id = #{item})
				</foreach>
			</where>
		</if>
	</select>

	<select id="c_freelancerlist_high" resultType="String" parameterType="Int">
		select school_name from c_freelancerlist_schoolVO 
								where f_num = #{f_num} 
														
	</select>

</mapper>