<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="lancer.mappers.c_loginMapper">
	<select id = "select_f_login" parameterType="c_loginVO" resultType="c_login_freelancerVO">
		select * from FREELANCER
						where f_id = #{c_id} and f_pwd = #{pwd}
	</select>

	<select id = "select_e_login" parameterType="c_loginVO" resultType="c_login_enterpriseVO">
		select * from enterprise
						where e_id = #{c_id} and e_pwd = #{pwd} and e_check ='승인'
	</select> 
	<select id="select_a_login" parameterType="c_loginVO" resultType="c_login_adminVO">
		select * from ADMINISTRATOR
						where ad_id = #{c_id} and ad_pwd = #{pwd}
	</select>
	
	<select id="select_e_login_nocheck" parameterType="c_loginVO" resultType="c_login_enterpriseVO">
		select * from enterprise
						where e_id = #{c_id} and e_pwd = #{pwd}
	</select>
	
	<select id="select_e_login_idcheck" parameterType="c_loginVO" resultType="c_login_enterpriseVO">
		select * from enterprise
						where e_id = #{c_id}
	</select>
	<select id="select_f_login_idcheck" parameterType="c_loginVO" resultType="c_login_freelancerVO">
		select * from FREELANCER
						where f_id = #{c_id} 
	</select>
	
	<select id="chang_check" parameterType="int" resultType="int">
		select count(*) from ALRAM where f_num = #{f_num} and alram_check='미확인'
	</select>
	<select id="alram_contents" parameterType="int" resultType="c_login_alramVO">
		select a.p_content ,p.p_name ,a.alram_check ,a.e_pr_num
				from ALRAM a , project p 
				where a.e_pr_num = p.e_pr_num
				and f_num = #{f_num}
				and alram_check='미확인'
	</select>
	
	<update id="updateRecentLogin" parameterType="int">
		update freelancer set f_recentlogin = sysdate where f_num=#{f_num}
	</update>
	
	<update id="updatef_nowstate" parameterType="int">
		update freelancer set f_nowstate='활동' where f_num=#{f_num}
	</update>
	
</mapper>















