<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="lancer.mappers.c_membercenterMapper">
	<cache />
	
	<select id="getAsknum">
		select max(asknum) +1 from ask
	</select>
	<insert id="insertAsk">
		insert into ask (writer, asknum, askcontents, askdate, f_num, e_num, asktitle)
		values(#{writer}, ask_seq.nextval, #{askcontents}, sysdate, #{f_num}, #{e_num}, #{asktitle})
	</insert>
	
	<select id="myAskList" resultType="lancer.c_membercenter.domain.MembercenterASKVO">
		
		select writer, asktitle, askdate from ask
		where f_num = #{f_num}
		
	</select>
	
	<select id="e_myAskList" resultType="lancer.c_membercenter.domain.MembercenterASKVO">
		select writer, asktitle, askdate from ask
		where e_num = #{e_num}
	</select>
	
	<select id="countFreelancer" resultType="int">
		select count(*) from freelancer 
	</select>
	
	<select id="countProject" resultType="int">
		select count(*) from project
	</select>
</mapper>















