<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="lancer.mappers.c_membercenterMapper">
	<cache />
	
	<select id="getAsknum">
		select max(asknum) +1 from ask
	</select>
	<insert id="insertAsk">
		insert into ask (writer, asknum, askcontents, askdate, f_num, e_num, asktitle, ask_state, read)
		values(#{writer}, ask_seq.nextval, #{askcontents}, sysdate, #{f_num}, #{e_num}, #{asktitle}, '답변중', '안읽음')
	</insert>
	
	<select id="myAskList" resultType="lancer.c_membercenter.domain.MembercenterASKVO">
		
		select writer, asktitle, askdate, answercontents, answerdate, asknum, ad_num, ask_state , read from ask
		where f_num = #{f_num}
    	and ask_state = '답변완료'
    	and read = '안읽음'
    	order by ask_state desc
		
	</select>
	
	<select id="myAskListOK" resultType="lancer.c_membercenter.domain.MembercenterASKVO">
		select writer, asktitle, askdate, answercontents, answerdate, asknum, ad_num, ask_state, read from ask
		where f_num = #{f_num}
		and ask_state = '답변완료'
		and read = '읽음'
		order by ask_state desc
	</select>
	<select id="e_myAskList" resultType="lancer.c_membercenter.domain.MembercenterASKVO">
		select writer, asktitle, askdate , answercontents, answerdate, asknum, ad_num, ask_state, read from ask
		where e_num = #{e_num}
		and ask_state = '답변완료'
		and read = '안읽음'
		 order by ask_state desc
	</select>
	
	<select id="e_myAskListOK" resultType="lancer.c_membercenter.domain.MembercenterASKVO">
		select writer, asktitle, askdate, answercontents, answerdate, asknum, ad_num, ask_state, read from ask
		where e_num = #{e_num}
		and ask_state = '답변완료'
		and read = '읽음'
		order by ask_state desc
	</select>
	
	<select id="myAnswer" resultType="lancer.c_membercenter.domain.MemberCenterAnswerVO">
		select answertitle, answercontents, ad_num, answerdate from ask
		where asknum = #{asknum}
	</select>
	
	<select id="countFreelancer" resultType="int">
		select count(*) from freelancer 
	</select>
	
	<select id="countProject" resultType="int">
		select count(*) from project
	</select>
	
	<update id="readUpdate">
		update ask set read = '읽음'
		where asknum = #{asknum}
	</update>
	
</mapper>















