<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="lancer.mappers.c_projectlistMapper">
	
	 <sql id="search">

	</sql>

	<select id="read" resultType="E_Insert">
		select * from project
		where e_pr_num = #{e_pr_num}
	</select> 
	
	<select id="selectEnterprise" resultType="Enterprise">
		select * from Enterprise
		where e_num = #{e_num}
	</select> 
	
	<select id="selectP_job" resultType="Integer">
		SELECT job_id FROM p_job WHERE e_pr_num = #{e_pr_num}
	</select>
	 
	<select id="countPaging" resultType="int">
	<![CDATA[
		select count(e_pr_num) from project where e_pr_num > 0			
	]]>
	
	 <include refid="search"></include> 
	</select>
	
	<select id="listSearch" resultType="E_Insert">
		<![CDATA[
			select * from project
			where e_pr_num > 0
		]]>
			<include refid="search"></include> 
		<![CDATA[
			order by e_pr_num desc
		]]>
		
	</select>
	<select id="listSearchCount" resultType="int">
		<![CDATA[
			select count(e_pr_num)
				from project
				where e_pr_num > 0
		]]>
			 <include refid="search"></include> 
	
	</select>
	


</mapper>















