<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="lancer.mappers.c_projectlistMapper">
	

	<select id="read" resultType="E_Insert">
		select * from project
		where e_pr_num = #{e_pr_num}
	</select> 
	
	<select id="selectEnterprise" resultType="Enterprise">
		select * from Enterprise
		where e_num = #{e_num}
	</select> 
	
	<select id="selectP_job" resultType="Integer">
		SELECT job_id FROM p_job WHERE e_pr_num = #{e_pr_num}
	</select>
	 
	<select id="countPaging" resultType="int">
	<![CDATA[
		select count(e_pr_num) from project where project_check_state='승인' and e_pr_num > 0	
	]]>
	</select>
	
	<select id="listSearch" resultType="E_Insert" parameterType="SearchCriteria">
		select * from project where project_check_state='승인'
		   <if test="jobs != null">
			<!-- <where> -->
			and 
			  <foreach collection="jobs" item="item" separator="AND" >
			    e_pr_num in (select e_pr_num from p_job where job_id = #{item})
			   
			  </foreach> 
		
			  <if test="fr !=null">
			   	  and p_state='모집중' or p_state='추가모집'
			 </if>
			 <if test="ft != null">
			 	and p_state='완료'
			 </if>
		<!-- 	 and project_check_state='승인' -->
			<!-- </where> -->
		  </if> 
		  <if test="jobs==null">
		  <!-- <where> -->
		  	<!--   project_check_state='승인' -->
		  	 <if test="fr !=null">
			   	   and p_state='모집중' or p_state='추가모집'
			 </if>
			 <if test="ft != null">
			 	 and p_state='완료'
			 </if>
		  <!-- </where> -->
		   
		  
		  
		  	 
		  </if>
		  
		 order by e_pr_num desc
	</select>
	
	<select id="listSearchCount" resultType="int" parameterType="SearchCriteria">
	
		  select count(*) from project where project_check_state='승인'
		   <if test="jobs != null">
			<!-- <where> -->
			and
			 <foreach collection="jobs" item="item" separator="AND" >
			     e_pr_num in (select e_pr_num from p_job where job_id = #{item})
			   
			  </foreach> 
			
			  <if test="fr !=null">
			   	  and p_state='모집중' or p_state='추가모집'
			 </if>
			 <if test="ft != null">
			 	and p_state='완료'
			 </if>
		<!-- 	 and project_check_state='승인' -->
			<!-- </where> -->
		  </if> 
		  <if test="jobs==null">
		  <!-- <where> -->
		  	<!--   project_check_state='승인' -->
		  	 <if test="fr !=null">
			   	   and p_state='모집중' or p_state='추가모집'
			 </if>
			 <if test="ft != null">
			 	 and p_state='완료'
			 </if>
		  <!-- </where> -->
		   
		  
		  
		  	 
		  </if>
		  
	
		  
		  
		  
		  
		  
		  
	</select>
	
	<select id="getnum" resultType="int">
		select nvl(max(c_num),0) from contract
	</select>
	
	<insert id= "insertContract" parameterType="SubmitVO">
	 insert into contract(
	 c_num, c_request_date, e_pr_num, f_num, c_state
	 )
	 values(
	 #{c_num}, SYSDATE, #{e_pr_num}, #{f_num}, '신청중'
	 )
	</insert>
	
	<select id="selectCon" resultType="int" parameterType="c_freelancerlist_searchVO">
	select count(*) from contract where c_state = '신청중'
	and f_num = #{f_num} and e_pr_num = #{e_pr_num}
	</select>
	
	<select id="getRelation" parameterType="hashmap" resultType="int">
		select count(*) from contract where f_num=#{f_num} and e_pr_num = #{e_pr_num} and c_state in ('신청중', '신청거절', '매칭중', '매칭완료', '진행중', '완료')
	</select>
	
	<select id="getRelation2" parameterType="hashmap" resultType="int" >
		select count(*) from e_grade where e_pr_num = #{e_pr_num} and f_num = #{f_num}
	</select>
	
	<select id="myEval" parameterType="hashmap" resultType="double">
		select e_grade_star from e_grade where f_num=#{f_num} and e_pr_num = #{e_pr_num}
	</select>

	<select id="getProjectName" parameterType="int" resultType="String">
		select p_name from project where e_pr_num=#{e_pr_num}
	</select>

</mapper>















