<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">



<mapper namespace="lancer.mappers.e_mypageMapper">

	
	<select id="selectEnterprise" resultType="lancer.e_mypage.domain.Enterprise">
		SELECT * FROM enterprise WHERE e_num = #{e_num}
	</select>
	
	<update id="updateEnterprise" parameterType="c_login_enterpriseVO">
		UPDATE enterprise SET
		e_pwd=#{e_pwd},
		e_mail=#{e_mail},
		e_name=#{e_name},
		e_ename=#{e_ename},
		e_owner=#{e_owner},
		e_ownerfilenum=#{e_ownerfilenum},
		e_regno=#{e_regno},
		e_phone=#{e_phone},
		e_bf=#{e_bf},
		manager_name=#{manager_name},
		manager_hphone=#{manager_hphone},
		manager_mail=#{manager_mail},
		e_address=#{e_address},
		e_homepage=#{e_homepage},
		start_year=#{start_year},
		e_enum=#{e_enum},
		e_listing=#{e_listing},
		e_capital=#{e_capital},
		e_sales=#{e_sales},
		e_scale=#{e_scale},
		e_licensefilenum=#{e_licensefilenum} WHERE e_num=#{e_num}
	</update>
	
	<select id="listProjectReady" resultType="lancer.e_mypage.domain.Project">
		SELECT * FROM project WHERE e_num = #{e_num} AND p_state = '모집중'
	</select>

	<select id="listProjectDoing" resultType="lancer.e_mypage.domain.Project">
		SELECT * FROM project WHERE e_num = #{e_num} AND p_state = '진행중'
	</select>

	<select id="listProjectDone" resultType="lancer.e_mypage.domain.Project">
		SELECT * FROM project WHERE e_num = #{e_num} AND p_state = '완료'
	</select>
	<!--  -->
	<select id="countProjectReady" resultType="Integer">
		SELECT count(*) from project WHERE e_num = #{e_num} AND p_state = '모집중'
	</select>
	
	<select id="countProjectDoing" resultType="Integer">
		SELECT count(*) from project WHERE e_num = #{e_num} AND p_state = '진행중'
	</select>
	
	<select id="countProjectDone" resultType="Integer">
		SELECT count(*) from project WHERE e_num = #{e_num} AND p_state = '완료'
	</select>
<!--  -->
	<select id="selectProject" parameterType="java.util.HashMap" resultType="lancer.e_mypage.domain.Project">
		SELECT * FROM project WHERE e_num = #{e_num} AND e_pr_num = #{e_pr_num}
	</select>
	
	<select id="selectP_job" resultType="Integer">
		SELECT job_id FROM p_job WHERE e_pr_num = #{e_pr_num}
	</select>
	
	
	<select id="selectMember" resultType="lancer.e_mypage.domain.Member">
		SELECT * FROM contract c, freelancer f WHERE c.f_num = f.f_num AND c.e_pr_num = #{e_pr_num} AND c_state IN('매칭중', '매칭완료', '진행중', '완료')
	</select>
	
	<select id="selectApplicant" resultType="lancer.e_mypage.domain.Member">
		SELECT * FROM contract c, freelancer f WHERE c.f_num = f.f_num AND c.e_pr_num = #{e_pr_num} AND c_state IN('신청중', '신청거절')
	</select>
	
	<select id="selectScout" resultType="lancer.e_mypage.domain.Member">
		SELECT * FROM contract c, freelancer f WHERE c.f_num = f.f_num AND c.e_pr_num = #{e_pr_num} AND c_state IN ('제안중', '제안거절')
	</select>
	
	<select id="countMember" resultType="Integer">
		SELECT count(*) FROM contract c, freelancer f WHERE c.f_num = f.f_num AND c.e_pr_num = #{e_pr_num} AND c_state IN('매칭중', '매칭완료', '진행중', '완료')
	</select>
	
	<select id="countApplicant" resultType="Integer">
		SELECT count(*) FROM contract c, freelancer f WHERE c.f_num = f.f_num AND c.e_pr_num = #{e_pr_num} AND c_state IN('신청중', '신청거절')
	</select>
	
	<select id="countScout" resultType="Integer">
		SELECT count(*) FROM contract c, freelancer f WHERE c.f_num = f.f_num AND c.e_pr_num = #{e_pr_num} AND c_state IN ('제안중', '제안거절')
	</select>
	
	<update id="acceptApplicant">
		UPDATE contract SET c_state = '매칭중' WHERE f_num = #{f_num} AND e_pr_num = #{e_pr_num}
	</update>
	
	<update id="rejectApplicant">
		UPDATE contract SET c_state = '신청거절' WHERE f_num = #{f_num} AND e_pr_num = #{e_pr_num}
	</update>
	
	<delete id="cancelScout">
		DELETE FROM contract WHERE f_num = #{f_num} AND e_pr_num = #{e_pr_num}
	</delete>


</mapper>















