<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- seq_reply.nextval -->
<mapper namespace="lancer.mapper.f_board_replyMapper">

	<select id="countReply" resultType="int">
        SELECT COUNT(*) FROM reply WHERE board_num=#{board_num}
    </select>
	
	<insert id="create">
		insert into reply(reply_num, board_num, reply_content, reply_date, f_num)
		values(51, #{board_num}, #{reply_content}, sysdate, 7)
	</insert>
	
	<select id="list" resultType="F_ReplyVO">
		SELECT reply_num, board_num, reply_content, reply_date, f_num
        FROM reply
        WHERE  board_num=#{board_num}
        ORDER BY reply_num
	</select>


 <!-- 	<select id="list" resultType="F_ReplyVO">
 		select * from reply
 			where board_num = #{board_num}
 			order by reply_num desc
 	</select>
 	
 	<insert id="create" parameterType="F_ReplyVO">
 		insert into reply (reply_num, board_num, reply_content)
 			values(#{reply_num}, #{board_num}, #{reply_content})
 	</insert>
 	
 	<update id="update" parameterType="F_ReplyVO">
 		update reply set reply_content = #{reply_content}
 			where reply_num = #{reply_num}
 	</update>
 	
 	<delete id="delete">
 		delete from reply where reply_num = #{reply_num}
 	</delete>
 	
 	<select id="listPage" resultType="F_ReplyVO">
	  <![CDATA[
		 select 
		   reply_num, board_num, reply_content, reply_date
		 from
		   (
		   select /*+INDEX_DESC(reply pk_reply))*/
		     rownum rn, reply_num, board_num, reply_content, reply_date
		   from reply
		   where board_num = #{board_num}
		   and reply_num > 0
		   and rownum <= #{cri.page} * #{cri.perPageNum}
		   )
		where rn > ( #{cri.page} -1) * #{cri.perPageNum}
	  ]]>
	</select>
	
	<select id="count" resultType="int">
		select count(reply_num) from reply
		where board_num = #{board_num}
	</select>
  
  <select id="getBno" resultType="int">
  	select board_num from reply where reply_num = #{reply_num}
  </select>
  	 -->
  
</mapper>  











