<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="lancer.mapper.matchingMapper">

<!-- 임시로 하나 만들어놓은거 -->
    <select id="temp">
		select * from contract
	</select>
  
</mapper>  










