<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="lancer.mappers.verificationMapper">
	
	<!-- 아이디 알려줌 -->
	<select id="verifying_freelancer_id" parameterType="java.util.HashMap" resultType="String">
		select f_id from FREELANCER where f_name = #{name} AND f_email = #{EmailAddr}
	</select>
	<select id="verifying_enterprise_id" parameterType="java.util.HashMap" resultType="String">
		select e_id from enterprise where e_name = #{name} AND e_mail = #{EmailAddr}
	</select>
	
	<!-- 비밀번호 알려줌-->
	<select id="verifying_freelancer_pwd" parameterType="java.util.HashMap" resultType="String">
		select f_pwd from FREELANCER where f_id = #{f_id} AND f_name = #{f_name} AND f_email = #{EmailAddr}
	</select>
	<select id="verifying_enterprise_pwd" parameterType="java.util.HashMap" resultType="String">
		<!-- select e_pwd from enterprise where e_id = #{e_id} AND e_name = #{e_name} AND e_mail = #{EmailAddr} -->
		select e_pwd from enterprise where e_id = 'tt' AND e_name = 'tt' AND e_mail = 'tt@chol.com'
	</select>
	
	<!-- 해당 계정 여부 파악 -->
	<select id="checking_freelancer" parameterType="java.util.HashMap" resultType="Integer">
		select count(*) from freelancer where f_name = #{name} AND f_email = #{EmailAddr}
	</select>
	<select id="checking_enterprise" parameterType="java.util.HashMap" resultType="Integer">
		select count(*) from enterprise where e_name = #{name} AND e_mail = #{EmailAddr}
	</select>
  
</mapper>  