<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="lancer.mappers.verificationMapper">
	
	<!-- 아이디 알려줌 -->
	<select id="verifying_freelancer_id" parameterType="lancer.verification.domain.VerificationVO" resultType="String">
		select f_id from FREELANCER where f_name = #{name} AND f_email = #{emailAddr}
	</select>
	<select id="verifying_enterprise_id" parameterType="lancer.verification.domain.VerificationVO" resultType="String">
		select e_id from enterprise where e_name = #{name} AND e_mail = #{emailAddr}
	</select>
	
	<!-- 비밀번호 알려줌-->
	<select id="verifying_freelancer_pwd" parameterType="lancer.verification.domain.VerificationVO" resultType="String">
		select f_pwd from FREELANCER where f_id = #{id} and f_name = #{name} AND f_email = #{emailAddr}
	</select>
	<select id="verifying_enterprise_pwd" parameterType="lancer.verification.domain.VerificationVO" resultType="String">
		select e_pwd from enterprise where e_id = #{id} and e_name = #{name} AND e_mail = #{emailAddr}
	</select>
	
	<!-- 해당 계정 여부 파악 -->
	<select id="checking_freelancer" parameterType="lancer.verification.domain.VerificationVO" resultType="Integer">
		select count(*) from freelancer where f_name = #{name} AND f_email = #{emailAddr}
	</select>
	<select id="checking_enterprise" parameterType="lancer.verification.domain.VerificationVO" resultType="Integer">
		select count(*) from enterprise where e_name = #{name} AND e_mail = #{emailAddr}
	</select>
  
</mapper>  