<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

  <typeAliases>
    <package name="lancer.f_mypage.domain"/>    
    <package name="lancer.f_main.domain"/>
    <package name="lancer.c_login.domain"/>
    <package name="lancer.e_insertproject.domain"/>
    <package name="lancer.c_join.domain"/>
	<package name="lancer.c_freelancerlist.domain"/>
	<package name="lancer.c_membercenter.domain"/>
	<package name="lancer.c_projectlist.domain"/>
  </typeAliases>


</configuration>
