@CHARSET "EUC-KR";

#sponsor {
	background: #f3f4f7;
}

#sponsor h3 {
	padding-top:50px;
	    margin-top: 0;
	text-align: center;
    /* margin-left: 150px; */
    line-height: 20px;
    font-weight: bold;
    font-size: 18px;
    color: #454545;
    padding-bottom: 30px;
}

#sponsor img {
	display: block;
	margin-left: 140px;
	padding: 50px;
}