@charset "UTF-8";

.main_slide {
	border: 1px solid; /* 추후 삭제 */
	height: 350px;
	min-width: 960px;
	overflow: hidden;
	position: relative;
	/*   background-color: gray; */
	/*  margin-top: 100px; */
}

.slideshow_images {
	height: 100%;
	position: absolute;
	width: 100%;
}

.slideshow_images .slide {
	height: 100%;
	overflow: hidden;
	position: absolute;
	width: 100%;
}

.slideshow_images .slide img {
	left: 50%;
	position: absolute;
}

.slideshow_images {
	height: 100%;
	position: absolute;
	width: 100%;
}

.slideshow_images .slide {
	height: 100%;
	overflow: hidden;
	position: absolute;
	width: 100%;
}

.slideshow-slides .slide img {
	left: 50%;
	margin-left: -800px;
	position: absolute;
}

.main_news {
	/* border: 1px solid; */ /* 추후 삭제 */
	height: 450px;
	min-width: 960px;
	overflow: hidden;
	position: relative;
}

.left_news {
	
	height: 400px;
	width: 672.5px;
	overflow: hidden;
	position: relative;
	float: left;
	/* 	background-color: gray; */
}

#chart_div { /* 차트 */
	height: 340px;
	width: 570px;
	overflow: hidden;
	position: relative;
	/* 	margin-left: 500px; */
	margin-bottom: 500px;
/* 	margin-top : -100px; */
	margin-left : 500px;
	margin-top: 35px;
}

#news {
	/* background-color: red; */
	/* background-image: url(../lancer_imgs/bg_list_sky.jpg) */
	
}
/* 탭 영역css */

/* ------------------------------------------------- */
/* body
{
    width: 700px;
    margin: 100px auto 0 auto;
    font-family: Arial, Helvetica;
    font-size: small;
	background: #444;
} */
/* #tabs {
	overflow: hidden;
	width: 400px;
	margin-left: 300px;
	padding: 0px;
	list-style: none;
}

#tabs li {
	float: left;
	margin: 0 .5em 0 0;
}

#tabs a {
	padding-left: 50px;
	position: relative;
	background: #ddd; */
	/*  background-image: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ddd));
  background-image: -webkit-linear-gradient(top, #fff, #ddd);
  background-image: -moz-linear-gradient(top, #fff, #ddd);
  background-image: -ms-linear-gradient(top, #fff, #ddd);
  background-image: -o-linear-gradient(top, #fff, #ddd);
  background-image: linear-gradient(to bottom, #fff, #ddd); */
	/* padding: .7em 3.5em;
	float: left;
	text-decoration: none;
	color: #444;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .8);
	-webkit-border-radius: 5px 0 0 0;
	-moz-border-radius: 5px 0 0 0;
	border-radius: 5px 0 0 0;
	-moz-box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
	-webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
	box-shadow: 0 2px 2px rgba(0, 0, 0, .4);
}

#tabs a:hover, #tabs a:hover::after, #tabs a:focus, #tabs a:focus::after
	{
	background: #fff;
}

#tabs a:focus {
	outline: 0;
}

#tabs a::after {
	content: '';
	position: absolute;
	z-index: 1;
	top: 0;
	right: -.5em;
	bottom: 0;
	width: 1em;
	background: #ddd;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#fff),
		to(#ddd));
	background-image: -webkit-linear-gradient(top, #fff, #ddd);
	background-image: -moz-linear-gradient(top, #fff, #ddd);
	background-image: -ms-linear-gradient(top, #fff, #ddd);
	background-image: -o-linear-gradient(top, #fff, #ddd);
	background-image: linear-gradient(to bottom, #fff, #ddd) -moz-box-shadow:
		 2px 2px 2px rgba(0, 0, 0, .4);
	-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
	box-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
	-webkit-transform: skew(10deg);
	-moz-transform: skew(10deg);
	-ms-transform: skew(10deg);
	-o-transform: skew(10deg);
	transform: skew(10deg);
	-webkit-border-radius: 0 5px 0 0;
	-moz-border-radius: 0 5px 0 0;
	border-radius: 0 5px 0 0;
}

#tabs #current a, #tabs #current a::after {
	background: #fff;
	z-index: 3;
}
 */
/* ------------------------------------------------- */
#content_test {
/* 	background: #fff; */
	width: 700px;
	margin-left: 360px;
	padding-left: 30px;
	padding-top: 10px;
	height: 600px;
	position: relative;
	z-index: 2;
	-moz-border-radius: 0 5px 5px 5px;
	-webkit-border-radius: 0 5px 5px 5px;
	border-radius: 0 5px 5px 5px;
	-moz-box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
	-webkit-box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
	box-shadow: 0 -2px 3px -2px rgba(0, 0, 0, .5);
/* 	background: #f3f4f7; */
/* 	background-image: url(../f_main_img/bg_content01.jpg) */
}

#content h2, #content h3 {
	margin: 0 0 15px 0;
}

/* ------------------------------------------------- */
#about {
	color: #999;
}

#about a {
	color: #eee;
}

/* 탭 css끝 */
#tab1>img {
	margin-top: 50px;
	margin-right: 50px;
}

#tab2>img {
	margin-top: 50px;
	margin-right: 50px;
}

#active_inf {
/* 	background-image: url(../f_main_img/bg_content01.jpg); */
/* 	background : #f3f4f7; */
/*  	border: 1px solid; 
 	border-color: transparent; */
}

.left_news ul {
	width: 350px;
	height: 335px;
	overflow: hidden;
	border: 1px solid #DDD;
	margin: 0;
	padding-left: 5px;
	list-style: none;
/* 	border-radius: 5px; */
/* 	box-shadow: 0px 0px 5px #DDD; */
	margin-left: 250px;
	margin-bottom: 100px;
	margin-top: 20px;
	background-color : #FFF;
}

.main_news {
	/* background-image: url(../f_main_img/bg_cont05.jpg); */
	background: #2d3a45;
	/* margin-top: 600px; */
	text-align: center;
	/* color: white; */
	padding-top: 20px;
	
	max-width: 100%;
    z-index: 1000;
   /*  padding-top: 650px; */
}
}

#introduce_site>h2 {
	text-align: center;
	color: white;
	font-weight: lighter;
	font-size: 23px;
}

#introduce_img>img {
	margin-right: 150px;
}

#introduce_img {
     padding-left: 150px;
}

#introduce_site{
	
	background: #2d3a45;
	padding-top: 20px;
	padding-bottom: 60px;
	text-align: center;
}

.recommend a{
	font-size: 20px;
	color: #2257ad;
	float: left;
	font-family: 'NanumGothic_b';
	line-height: 20px;
	font-weight: bold;
}

.recommend li a{
	
	padding-bottom: 5px;
	overflow: hidden;

}

.left_news ul li{
	/* margin-left : 50px; */
	padding: 40px;

}

.main_main_newsnews h3{
	color : #fff;
	text-align: center;
}

.readCount{
	color : red;
	float : left;
}
.read{
	/* background-image : url(../f_main_img/bg_list_bu.jpg); */
	background-color: #0687ec;
	padding-left : 50px;
	padding-right: -500px;
}
.read_2{
	display : none;
	background-color : red;
}

/* 추가 */

.slideshow_images{
	background-color : #fcfcfc
}
.slideshow_images h2{
	color : #262f3d;
	text-align: center;
}

.recommend h4{
	margin-bottom: 10px;
}
 .recommend h5{
	top:0px;
} 

.test_content{
	font-weight: lighter;
}
.test{
	margin-top: 0px;
	margin-bottom: 0px;
	color:#666;
}
.main_join{
	height: 66px;
	background-color: #e7e9ec;
	margin-left: auto;
	margin-right: auto;
}
.text_join{
	font-size: 17px;
	color: #2d3a45;
	border-color :#1c87a5;
	vertical-align: middle;
	text-align: center;
	padding-top: 20px;
}
.btn_join{
	width:100px;
	text-decoration:none;
	margin-left : 25px;
	color: white;
	background: #2099bb;
	display: inline-block;
	margin-bottom: 0;
	font-weight: normal;
	text-align: center;
	vertical-align: center;
	cursor:pointer;
	background-image: none;
	border: 1px solid transparent;
	font-size: 14px;
	line-height: 2;
	border-radius: 2px;
}

.section_title{
	font-size: 24px;
	padding: 15px 0;
	border-bottom: 1px solid #ccc;
	margin: 0 auto;
	color: #495161;
	text-align: center;
}

.section_img{
	padding: 10px 50px 0px 60px;
	float: left;
}
.active_p{
	clear: both;
}
.introduce_text{
	color:white;
	text-align: center;
	padding-top: 10px;
    padding-left: 260px;
}
.introduce_text td{
	margin-right: 300px;
}



.hello{
	margin : 20px;
	font-size: 20px;
	color: #2257ad;
	float: left;
	font-family: 'NanumGothic_b';
	line-height: 20px;
	font-weight: bold;
}

.hello2{
	margin : 20px;
}

.video{
	width: 100%;
	position: absolute; 
	z-index: -10;
}
.inbox{
	font: inherit;
	position: absolute;
	width: 100%;
}
.title{
	position: relative;
	text-align: center;
	/* left: 500px; */
	top: 20px;
}
.title dt{
	font: bold;
	color: #fff;
    font-size: 69px;
    font-family: "NotoSans-Medium";
    
}
.title dt span{
	color: #0687ec;
}
.title dd{
	color: #fff;
    font-size: 29px;
    text-align: center;
    margin: 0px;
    padding-top: 10px;
}
.projregist{
	text-align: center;
	padding-top: 110px;
}
.projregist a{
	color: white;
    border: 1px solid;
    font-size: 18px;
    border-radius: 10px;
    padding: 15px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: #1c87a5;
    font-weight:bold;
}
.sort-item-wrap{
	list-style: none;
}
.sort-item{
	color: white;
	width: 50%;
	float: left;
	font: inherit;
}
.sort-item-wrap{
	list-style: none;
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}
.onesTop-bottom{
	margin-top: 90px;
}
.tit{
	display: inline-block;
    font-size: 15px;
    border-bottom: 2px solid #0687ec;
    padding: 0 0 10px;
}
.data{
	font-size: 62px;
    font-family: "Nanum Gothic", "dotum", sans-serif;
    letter-spacing: -6px;
}

.sort_itemd1{
	border: 1px solid;
    border-bottom: none;
    /* border-right: none; */
    border-top: none;
    border-left: none;
    border-color: darkgray;
}
.projregist a{
	text-decoration: none;
}
#slides{
	padding-top: 500px;
}
